@import "../variables";

md-field {
  display: block;
  position: relative;
  padding-top: 16px;
  margin-bottom: 20px;
}

md-field > .md-control {
  display: block;
  background-color: transparent;
  border:0;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.9);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  min-height: 32px;
  width: 100%;

  &:focus ~ .line {
    width: 100%;
    left: 0;
    background-color: material-color($color-primary);
  }

  &:focus ~ label,
  & ~ .keep-float,
  &.ng-not-empty ~ label {
    top: 0;
    font-size: 12px;
  }

  &:focus ~ label,
  &:focus ~ .keep-float,
  .md-control.ng-not-empty:focus ~ label {
    color: material-color($color-primary);
  }
}

md-field > label {
  position: absolute;
  color: rgba(0,0,0,0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 22px;
  left: 0;
  right: 0;
  font-size: 16px;
  pointer-events: none;
  transition: all 100ms linear;
}

md-field > textarea {
  resize: vertical;
  padding-top: 6px;
}

.line {
  position: absolute;
  width: 0;
  left: 50%;
  height: 2px;
  bottom: 0;
  transition: all 100ms linear;
}

md-field ng-messages {
  position: absolute;
  margin-top: 3px;
}

md-field ng-messages,
md-field ng-message {
  display: block;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}

md-field > .md-control.ng-dirty.ng-invalid ~ label,
.ng-submitted md-field > .md-control.pristine-validation.ng-invalid ~ label,
.ng-submitted md-field > .md-control.ng-invalid ~ label,
md-field > .md-control.ng-dirty.ng-invalid ~ ng-messages > ng-message,
.ng-submitted md-field > .md-control.pristine-validation.ng-invalid ~ ng-messages > ng-message,
.ng-submitted md-field > .md-control.ng-invalid ~ ng-messages > ng-message,
md-field > .md-control.ng-dirty.ng-invalid ,
md-field > .md-control.pristine-validation.ng-invalid ,
.ng-submitted md-field > .md-control.ng-invalid {
  border-color: material-color('red');
  color: material-color('red');
}
md-field > .md-control.ng-dirty.ng-invalid ~ .line,
md-field > .md-control.pristine-validation.ng-invalid ~ .line,
.ng-submitted md-field > .md-control.ng-invalid ~ .line {
  background-color: material-color('red');
}

md-field > label.required:after {
  content: '*';
  margin-left: 2px;
}

md-field > .md-control:focus ~ label.required:after {
  color: #F44336;
}