<!DOCTYPE html>
<html lang="pt-BR" ng-app="md">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components Material Design</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="components/md-ripple/md-ripple.css">
    <link rel="stylesheet" href="components/md-button/md-button.css">
    <link rel="stylesheet" href="components/md-field/md-field.css">

    <!--  Vendor Styles  -->
    <link rel="stylesheet" href="vendor/roboto-fontface/css/roboto/roboto-fontface.css">

    <!--  Vendor Scripts  -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angular-messages/angular-messages.min.js"></script>

    <!--  App  -->
    <script src="components/app.js"></script>

    <!--  Components  -->
    <script src="components/md-ripple/md-ripple.module.js"></script>
    <script src="components/md-button/md-button.module.js"></script>
    <script src="components/md-field/md-field.module.js"></script>

    <script src="components/md-ripple/md-ripple.directive.js"></script>
    <script src="components/md-button/md-button.directive.js"></script>
    <script src="components/md-field/md-field.directive.js"></script>

    <style>
        * {
            margin: 0 auto;
            padding: 0;
            outline: none;
        }

        *, *:before, *:after {
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', cursive;
        }

        button, a {
            z-index: 1;
            cursor: pointer;
            overflow: hidden;
            position: relative;
        }


    </style>
</head>
<body>
    <div>
        <md-button md-ripple class="fill icon fab">
            <i class="material-icons">add</i>
        </md-button>
        <md-button md-ripple class="fill icon">
            <i class="material-icons">add</i>
        </md-button>
        <md-button class="icon small">
            <i class="material-icons">add</i>
        </md-button>
        <md-button md-ripple class="">button</md-button>
        <md-button md-ripple class="fill">raised</md-button>
        <md-button md-ripple class="fill" disabled>raised</md-button>
        <md-button md-ripple class="fill raised">raised</md-button>
        <md-button md-ripple class="raised">button</md-button>
        <md-button md-ripple class="fill raised" disabled>raised</md-button>
    </div>

    <form name="form" style="margin: 40px auto; width: 300px">
        <md-field>
            <input name="field" type="text" ng-model="field" required>
            <label class="required">Field</label>
            <ng-messages for="form.field.$error" ng-if="form.field.$dirty && form.field.$error">
                <ng-message when="required">Insira um texto.</ng-message>
            </ng-messages>
        </md-field>
        <md-field>
            <select name="select" type="text" ng-model="select" required>
                <option></option>
                <option value="1">TESTE1</option>
                <option value="2">TESTE2</option>
                <option value="3">TESTE3</option>
                <option value="4">TESTE4</option>
            </select>
            <label class="required">Field</label>
            <ng-messages for="form.select.$error" ng-if="form.select.$dirty && form.select.$error">
                <ng-message when="required">Insira um texto.</ng-message>
            </ng-messages>
        </md-field>
        <md-field>
            <textarea name="textarea" type="text" ng-model="textarea" required rows="3">
            </textarea>
            <label class="required">Field</label>
            <ng-messages for="form.textarea.$error" ng-if="form.textarea.$dirty && form.textarea.$error">
                <ng-message when="required">Insira um texto.</ng-message>
            </ng-messages>
        </md-field>
    </form>
</body>
</html>