/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/* Colors */
.md-button {
  border: 0;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  min-width: 88px;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  font-family: 'Roboto-Medium', cursive;
  background-color: transparent;
  color: #009688; }
  .md-button:hover, .md-button:focus {
    background-color: rgba(153, 153, 153, 0.2); }
  .md-button:active {
    background-color: rgba(153, 153, 153, 0.4); }
  .md-button ripple {
    background-color: rgba(0, 0, 0, 0.1); }
  .md-button:disabled, .md-button:disabled:hover, .md-button:disabled:focus, .md-button:disabled:active {
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
    box-shadow: none !important; }

.md-button.fill {
  background-color: #009688;
  color: #fff; }
  .md-button.fill ripple {
    background-color: rgba(255, 255, 255, 0.1); }
  .md-button.fill:hover, .md-button.fill:focus {
    background-color: rgba(0, 150, 136, 0.88); }
  .md-button.fill:disabled, .md-button.fill:disabled:hover, .md-button.fill:disabled:focus, .md-button.fill:disabled:active {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12); }

.md-button.raised {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.15); }
  .md-button.raised:hover, .md-button.raised:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15); }
  .md-button.raised:active {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.15); }

.md-button.fab {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 6px 18px rgba(0, 0, 0, 0.15); }
  .md-button.fab:hover, .md-button.fab:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.15); }
  .md-button.fab:active {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 12px 36px rgba(0, 0, 0, 0.15); }

.md-button.icon {
  border: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  min-width: 0;
  border-radius: 50%; }

.md-button.icon.small {
  width: 40px;
  height: 40px; }

.md-button.icon i {
  line-height: 40px; }

.md-button.icon:not(.fab):not(.fill) {
  overflow: inherit;
  position: relative; }
  .md-button.icon:not(.fab):not(.fill):active, .md-button.icon:not(.fab):not(.fill):focus, .md-button.icon:not(.fab):not(.fill):hover {
    background-color: #FAFAFA; }
  .md-button.icon:not(.fab):not(.fill):before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    background-color: rgba(158, 158, 158, 0.2);
    transition: all 200ms ease-in-out;
    transform: scale(0); }

.md-button.icon:not(.fab):not(.fill):active:before {
  transform: scale(1); }

/*# sourceMappingURL=md-button.css.map */
