@import "../../vendor/sass-material-colors/sass/sass-material-colors";

$color-primary: 'teal';
$color-reverse: #fff;

.md-button {
  border: 0;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  min-width: 88px;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  font-family: 'Roboto Medium', cursive;
}

.md-button.default {
  color: #000;
  background-color: transparent;
}

.md-button.default:hover, .md-button.default:focus {
  background-color: rgba(153, 153, 153, 0.2);
}

.md-button.default:active {
  background-color: rgba(153, 153, 153, 0.4);
}

.md-button.default ripple {
  background-color: rgba(0, 0, 0, 0.25);
}

/*  Button Raised  */

.md-button-raised {
  color: $color-reverse;
  background-color: material-color($color-primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 2px 6px rgba(0,0,0,0.15);
}

.md-button-raised:hover, .md-button-raised:focus {
  background-color: rgba(material-color($color-primary), 0.88);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 4px 12px rgba(0,0,0,0.15);
}

.md-button-raised:active {
  box-shadow: 0 8px 16px rgba(0,0,0,0.3), 0 8px 24px rgba(0,0,0,0.15);
}

.md-button-raised:disabled, .md-button-raised:disabled:hover, .md-button-raised:disabled:focus, .md-button-raised:disabled:active {
  cursor: default;
  box-shadow: none;
  color: rgba(0,0,0,0.26);
  background-color: rgba(0,0,0,0.12);
}

/*  Button Flat  */

.md-button-flat {
  color: $color-reverse;
  background-color: material-color($color-primary);
}

.md-button-flat:hover, .md-button-flat:focus {
  background-color: rgba(material-color($color-primary), 0.88);
}

.md-button-flat:disabled {
  cursor: default;
  color: rgba(0,0,0,0.4);
}

.md-button-flat:disabled, .md-button-flat:disabled:hover, .md-button-flat:disabled:focus, .md-button-raised:disabled:active {
  cursor: default;
  color: rgba(0,0,0,0.26);
  background-color: transparent;
}

/*  Button Float  */

.md-button-float {
  border:0;
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $color-reverse;
  transition: all 200ms ease-in-out;
  background-color: material-color($color-primary);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3), 0 6px 18px rgba(0,0,0,0.15);
}

.md-button-float:hover, .md-button-float:focus {
  box-shadow: 0 8px 16px rgba(0,0,0,0.3), 0 8px 24px rgba(0,0,0,0.15);
}

.md-button-float:active {
  box-shadow: 0 12px 24px rgba(0,0,0,0.3), 0 12px 36px rgba(0,0,0,0.15);
}

.md-button-float:hover {
  background-color: material-color($color-primary, '600');
}

.md-button-float-min {
  width: 40px;
  height: 40px;
}